/* 320 */
@media only screen and (min-width: 320px) {
    


    .start-screen{
        /* max-width: 320px;
        min-width: 320px; */
        max-width: 100%;
        min-width: 100%;
        max-height: 823px;
        height: 823px;

       
    }
    .start-screen-wrapper{
        height: 823px;
        max-height: 823px;
        width: 100%;
        max-width: 100%;
    }

    .main-header-main{
        position: absolute;
        max-width:280px;
        width: 100%;
        height: 60px;
        top:30px;
        left:20px;
    }

    .main-header{
        position: absolute;
        width: 100%;
        height: 100%;
        max-width: 100%;
        max-height: 100%;
        left: 0;
        top: 0;
        
    }

    .site-info{
        position: absolute;
        width: 300px;
        height: 673px;
        max-width: 300px;
        max-height: 673px;
        left: 10px;
        top: 150px;

    }


    .puppy{
    
        max-width: 260px; 
        height: auto;
        top: 548px;
        right: 15px;
    }


    .puppy-image{
        max-width: 260px; 
        
    
    }


    /**/

    .not-only{
        position: absolute;
        width: 300px;
        height: 296px;
        max-width: 300px;
        max-height: 296px;
        left: 0px;
        top: 0px;
       
    
    }


    h2{
        max-width: 300px;
        max-height: 64px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 32px;
        letter-spacing: 1.4px;
        text-align:center;
        }


    .paragraph-1{
        max-width:300px;
        max-height:96px;
        left: 4.35px;
        top: 106px;
        text-align: center;
        /* letter-spacing: 0.2px; */

    }    
    .paragraph-1{
        color: #CDCDCD;
     
     }

        
    .button-main{
        top: 245px;
        left: 45px;
        }


        .navigation.inactive {
            display: block;
            width: 30px;
            height: 22px;
            max-width: 30px;
            max-height: 22px;
            left: calc(100% - 65px);
            top: 15px;
        }
    
      
            .logo{

                width: 184px;
                max-width: 184px;
                max-height: 60px;
                height: 60px;

                top: 0px;
            }






}


@media only screen and (min-width: 450px) {

    .start-screen{
        max-width: 100%;
        width: 100%;
        max-height: 1165px;
        height: 1165px;
    }
    .start-screen-wrapper{
        max-width: 100%;
        width: 100%;
        height: 1165px;
        max-height: 1165px;
    }

    /* Start Screen */
    h2{


        max-width: 310px;
        max-height: 114px;
        font-family: 'Georgia';
        font-style: normal;
        font-weight: 400;
        font-size: 44px;
        line-height: 57px;
        letter-spacing: 0px;
        text-align:left;
        

    }

    .main-header-main{
        position: absolute;
        max-width:100%;
        width: 100%;
        height: 60px;
        max-height: 60px;
        top:30px;
        left: 10px;
        display: flex;
        justify-content: space-between;
    }

    .main-header{
        position: absolute;
        max-width:100%;
        width:100%;;
        height: 60px;
        height: 60px;
        top:0px;
        left: 0px;
    
    
    }

    

    .button-main{
        top: 320px;
        left: 15px;
        }


        .paragraph-1{
            max-width:300px;
            max-height:96px;
            left: 2.5px;
            top: 186px;
            text-align: left;
            /* letter-spacing: 0.2px; */
        }
        .not-only{
            max-width:460px;
            min-height:322px;
            top: 60px;
            left: 20px;
        }

        .puppy{
        
            max-width: 350px; 
            height: auto;
            top: 800px;
            right: 24px;
        }

        .puppy-image{
            
            max-width: 350px; 
        

        }




            /**/
            .logo{

                width: 184px;
                max-width: 184px;
                max-height: 60px;
                height: 60px;
        
                top: 0px;
            }
        
        
        
        
        
        /* INACTIVE*/
        
        .navigation.inactive .toggle-button{
            position: absolute; 
            display: block;
            width: 30px;
            height: 22px;
            max-width: 30px;
            max-height: 22px;
            top: 0px;
            left: 0px;
        
        }
            .navigation.inactive {
                display: block;
                width: 30px;
                height: 22px;
                max-width: 30px;
                max-height: 22px;
        
                left:calc(100% - 65px); 
                top: 15px;
            }
        
        
        .navigation.inactive .toggle-button .toggle-button-line .bar1,
        .navigation.inactive .toggle-button .toggle-button-line .bar2,
        .navigation.inactive .toggle-button .toggle-button-line .bar3{ 
        
            position: absolute;
            width: 30px;
            height: 0px;
            left: 0px;
        
            border: 2px solid #F1CDB3;
            }
        
            .navigation.inactive .toggle-button .toggle-button-line .bar1{
            top:2px;
        }
        .navigation.inactive .toggle-button .toggle-button-line .bar2{
            top: 12px;
        }
        .navigation.inactive .toggle-button .toggle-button-line .bar3{
            top: 22px;
        }
        
        
        /* ACTIVE*/
        .navigation.active .nav-links .main-link.about-link::after{
            width: 245px;
        }
        
        
        
        .navigation.active .toggle-button{
            position: absolute;
            width: 30px;
            height: 22px;
            max-width: 30px;
            max-height: 22px;
            left: 250px;
            top: 19px;
            background-color: aqua;
            z-index: 100;
            
        }
        
        .navigation.active{
            /* mobile-menu-320 */
                z-index:100;
                position: absolute;
                width: 320px;
                height: 823px;
                max-width: 320px;
                max-height: 823px;
                top:-30px;
                right: 25px;
                background: #292929;
        }
        
        .navigation.active .nav-links{
            z-index:100;
            display: block;
            position: absolute;
            width: 243px;
            height: 327px;
            max-width: 243px;
            max-height: 327px;
            left: 39px;
            top: 248px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
        }
        
        .navigation.active .nav-links .main-link{
            font-family: 'Arial';
            font-style: normal;
            font-weight: 400;
            font-size: 32px;
            line-height:  51px;
            /* or 51px */
        
            /* color-light-s */
            color: #FAFAFA;
        
        }
        
        
        .navigation.active .toggle-button .toggle-button-line{
            display: block;
            width: 30px;
            max-width: 30px;
            height: 30px;
            max-height: 30px;
        }
        .navigation.active .toggle-button .toggle-button-line .bar1,
        .navigation.active .toggle-button .toggle-button-line .bar2,
        .navigation.active .toggle-button .toggle-button-line .bar3
        {
        
            border: 1px solid #F1CDB3;
            height: 30px;
            max-height: 30px;
        
            
        }
        
        .navigation.active .toggle-button .toggle-button-line .bar1{
            position: absolute;
            left:0px;
        
        
        }
        .navigation.active .toggle-button .toggle-button-line .bar2{
            position: absolute;
            left:10px;
        
        
        }
        .navigation.active .toggle-button .toggle-button-line .bar3{
            position: absolute;
            left:20px;
        
        }
        

}



/* 768*/
@media only screen and (min-width: 768px) {

    .main-header-main{
        position: absolute;
        width: 708px;
        height: 60px;
        max-width: 708px;
        max-height: 60px;
        left: calc(50% - 708px/2);
        top: 30px;


    }

    .main-header{
        max-width:100%;
        width: 100%;
        height: 60px;
        max-height: 60px;
        top:0px;
        left:0px;
    }

    .navigation.inactive{
        display:block;
    }

    .navigation.inactive{
        position: absolute;
        width: 443px;
        height: 27px;
        max-width: 443px;
        max-height: 27px;
        left: 265px;
        top: 16px;
        
        
    }


    .navigation.inactive .toggle-button {
        display: none;
    }

    .navigation{
        position: absolute;
        width: 443px;
        height: 27px;
        left: 263px;
        top: 16px;
    
    } 

    .puppy{
    
        max-width: 569px; 
        height: auto;
        top: 572px;
        right: 24px;
    }

    .puppy-image{
        
        max-width: 569px; 
    

    }




    .button-main{
        left: 130px;
        top:268px;
    }


    .start-screen{
        width: 100%;
        max-width: 100%;
        height: 1165px;
        max-height: 1165px;
    }
    .start-screen-wrapper{
        width: 100%;
        max-width: 100%;
        height: 1165px;
        max-height: 1165px;
    }

    .site-info{
        position: absolute;
        width: 569px;
        height: 1015px;
        max-width: 569px;
        max-height: 1015px;
        left: 99px;
        top: 150px;
        
        
      
    }
    .not-only{
  /* Content */

        position: absolute;
        width: 460px;
        height: 322px;
        max-width: 460px;
        max-height: 322px;
        left: 55px;
        top: 0px;


    }

    .not-only-header{
        position: absolute;
        width: 310px;
        height: 114px;
        max-width: 310px;
        max-height: 114px;
        left: calc(50% - 310px/2 - 75px);
        bottom: 208px;

    }

    .paragraph-1{
        position: absolute;
        width: 460px;
        height: 72px;
        max-width: 460px;
        max-height: 72px;
        left: calc(50% - 460px/2);
        top: 155px;
        bottom: 94px;
    }


}


@media only screen and (min-width: 770px) {


    .navigation{
        position: absolute;
        width: 390px;
        height: 27px;
        left: 290px;
        top: 16px;
    
    } 

    .site-info{
        position: absolute;
        max-width: 569px;
        height: 1015px;
        top: 150px;
        bottom: 0px;
        /* left: calc((768px - 569px) / 2); */
        left: 145px;
      
    }
 


    .puppy{
    
        max-width: 509px; 
        height: auto;
        top: 632px;
        right: 24px;
    }

    .puppy-image{
        
        max-width: 509px; 
    

    }

}


@media only screen and (min-width: 930px) {

    .main-header{
        max-width:100vw;
        width: 93.75%;
        max-height: 60px;
        top:30px;
        left:30px;
    }

    
    .navigation{
    
        max-width: 100%;
        max-height: 27px;
        width: 60%;
        right: 0px;
        top: 16px;
    
    } 


    .site-info{
        position: absolute;
        max-width: 569px;
        height: 1015px;
        top: 150px;
        bottom: 0px;
        /* left: calc((768px - 569px) / 2); */
        left: 200px;
      
    }


}


@media only screen and (min-width: 1019px) {

    .start-screen{
        max-height: 1165px;
    }
    
    .start-screen-wrapper{
        max-height: 1165px;
    }

    .site-info{
        position: absolute;
        max-width: 800px;
        max-height: 1015px;
        top: 150px;
        bottom: 0px;
        left: calc((960px - 569px) / 2);
    
    }
  
    .not-only{

        left: 55px;
        top: 0px;
        
        
    }


    .puppy{
      
        max-width: 587px; 
        right: 0px;
        top: 553px;
        
    }
    .puppy-image{

        max-width: 587px; 
    
    }


    .main-header{
        max-width: 1200px;
        width: 93.75%;
        height: 60px;
        top:30px;
        left:39px;
    }
        
    


}



@media only screen and (min-width: 1020px) {
    .puppy{
        max-width: 600px; 
        right: 0px;
        top: 281px;
    }

    .puppy-image{
        max-width: 600px; 
   ;
    }



    .not-only{
        left: 0px;
        top: 163px;
    
    }

    .paragraph-1{
        max-width: 350px;}


        
    .site-info{
            max-width: 1000px;
            height: 728px;
            left: 40px;
            top: 180px; 
        }    

     
    .start-screen-wrapper{
            height: 908px;
        }
    .button-main{
            left: 0px;
        }


}


@media only screen and (min-width: 1150px) {
    .start-screen{
        max-height: 908px;
    }
    
    .start-screen-wrapper{
        max-height: 908px;
    }
}

@media only screen and (min-width: 1200px) {
    .main-header{
        max-width: 1200px;
            width: 93.75%;
            height: 60px;
            top:30px;
            left:39px;
        }    

         .navigation{
            position: absolute;
            width: 443px;
            height: 27px;
            left: 650px;
            top: 16px;

        }  

    .puppy{
       
        top: 232px; 
        right: 5px;
        max-width: 645px; 
    }

    .puppy-image{

        max-width: 645px; 

    }


    .start-screen-wrapper{
        max-height: 908px;

    }


    .paragraph-1{
        max-width: 350px;}

    .button-main{
            left: 0px;
        }    

    .site-info{
            max-width: 1100px;
            height: 728px;
            left: 40px;
            top: 180px; 
        }        
}


@media only screen and (min-width: 1280px) {
    .start-screen{
        max-width: 1280px;
        width: 100%;
        max-height: 908px;
        height: 908px;
        top: 0;
        left: 0;
    }

    .start-screen-wrapper{
        height: 908px;
    }

    .puppy{
        left: calc(50% - 698px/2 + 251px);
        top: 180px;
        max-width: 698px; 
    }

    .puppy-image{
        top: 0;
        max-width: 698px; 

    }
    .paragraph-1{
        max-width: 460px;}

    .button-main{
            left: 0px;
        }

    .main-header{
        max-width: 1200px;
            width: 93.75%;
            height: 60px;
            top:30px;
            left:39px;
        }    

        .navigation{
            position: absolute;
            width: 443px;
            height: 27px;
            left: 758px;
            top: 16px;

        }      


}


