.main-header{
    position: absolute;
    width: 1200px;
    height: 60px;
    top:30px;
    left:39px;
    display: flex;
    justify-content: space-between;

}

.our-pets-link{
    left: -15px;
}
.help-shelter-link{
    left: -10px;
}

.about-link::after {
    content: "";
    width: 116.5px;
    height: 3px;
    
    /* background-color: var(--c-title-underline-color); */
    background: #F1CDB3;
    
    position: absolute;
    bottom: -8px;
    left:-2px; 
} 


.logo-header{
     /* colorl */
    color: #F1CDB3;
}
.logo-header a{
    text-decoration: none;
    color: #F1CDB3;}


.logo-text{

    /* color-light-xl */
    color: #FFFFFF;
}



.main-link{
   color:  #CDCDCD; 

}

.main-link:hover{
    cursor: pointer;
    color:  #FAFAFA;
    transition: color 0.2s ease-in-out;
}

.about-link{
    color:  #FAFAFA;
    pointer-events: none;
    cursor: default;
}

/* Start Screen */
h2{
    width: 310px;
    height: 114px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 44px;
    line-height: 57px;

}

.paragraph-1{
    position: absolute;
    width: 460px;
    height: 72px;
    left: calc(50% - 460px/2);
    bottom: 94px;

}

.paragraph-1, nav.li{

    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;

}

.button-main{
    border: none;
    position: absolute;
    width: 207px;
    height: 52px;
    left: calc(50% - 207px/2 - 126.5px);
    bottom: 0px;
    gap: 10px;
    padding: 15px 45px 15px 45px;
    /* color-primary */
    background: #F1CDB3;
    border-radius: 100px;
    display: flex;
    align-items: center;

}

.button-main{
    cursor: pointer;
}


.button-main:hover{
    background: #fddcc4;
    transition: background-color 0.4s ease-in-out;
}

.text-make-fr{
    position: absolute;
    width: 117px;
    height: 22px;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    letter-spacing: 0.06em;
    color: #292929;
    white-space: nowrap;
 
}






.start-screen{
color: #FFFFFF;
 width: 1280px;
 height: 908px;
 top: 0;
 left: 0;
 
}



.site-info{
    position: absolute;
    width: 1200px;
    height: 728px;
    left: 40px;
    top: 180px; 
}
.puppy{
    position: absolute;
    width: 698px;
    height: 728px;
    left:  502px;
    bottom: 0px;

}

.not-only{
    position: absolute;
    width: 460px;
    height: 322px;
    left: 0px;
    top: 163px;

}




/* About */
.about{
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 1280px;
    height: 588px;
    left: 0px;

}

.about-block-inner{
    width: 1200px;
    height: 408px;
    left: calc(50% - 1200px/2);
    top: calc(50% - 408px/2 - 10px);
    display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px 175px;
gap: 120px;

}

.dog-and-cat{
    width: 300px;
    height: 408px;


}

.text-about{
    position: absolute;
    width: 380px;
    height: 430px;
    top: 14px;
    left: 595px;


/* color-dark-xl */
    color: #4C4C4C;

}
.cozy-header{
    position: absolute;
    width: 370px;
    height: 90px;
    left: 0px;
    top: 0px;
    color: #545454;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;

}

.cozy{
    font-family: 'Arial';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
}



.cozy-paragraph1{
    position: absolute;
    width: 430px;
    height: 96px;
    left: 0px;
    top: 115px;
}
.cozy-paragraph2{
    position: absolute;
    width: 430px;
    height: 144px;
    left: 0px;
    top: 237px;

}



/* Our frends */

.our-friends{
    background-color: #F6F6F6; 
    width: 1280px;
    height: 877px;
}

.our-friends-inner-block{

    position: absolute;
    width: 1200px;
    height: 697px;
    left: calc(50% - 1200px/2);
    top: 80px;
  
}
.our-friends-inner-block a{
    text-decoration: none;
}

.animal-heading-block{

    position: absolute;
    width: 400px;
    height: 90px;
    left: 400px;
    top: 0px;
    display: flex;
    justify-content: center;


} 


.animal-heading{
  

align-items: center;
text-align: center;

    /* h3 */
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 45px;

letter-spacing: 0.06em;

/* color-dark-l */
color: #545454;

}





.animals{
position: absolute;
width: 1200px;
height: 435px;
left: 0px;
top: 150px;
display: flex;
justify-content:space-between;
}

.pet{
    
    width: 270px;
    height: 435px;
}

.katrine{
    margin-left: -35px;
}
.woody{
    margin-right: -33px;
}

.pet-photo{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 37.93%;
    border-radius: 9px 9px 0px 0px;

}

.animal-name{

position: absolute;
width: 74px;
height: 23px;
left: 98px;
top: 300px;    
    
/* pets-card-title */
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 23px;
/* identical to box height */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

/* color-dark-l */
color: #545454;

}


.learn-more{
    padding: 15px 45px;

/* color-primary */
    border: 2px solid #F1CDB3;
    border-radius: 100px;

/* Learn more */

width: 97px;
height: 22px;

font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 130%;
/* identical to box height, or 22px */
letter-spacing: 0.06em;

/* color-dark-3xl */
color: #292929;


position: absolute;
width: 187px;
height: 52px;
left: 41.5px;
top: 353px;
white-space: nowrap;

}


.learn-more a{
    text-decoration: none;
    color: #292929;
}

.learn-more a:link, 
.learn-more a:visited{
    text-decoration: none;
    color: #292929;
}



.pet:hover{
    cursor: pointer;
}

.pet:hover .learn-more{
    background-color: #FDDCC4;
    transition: background-color 0.7s ease-in-out;
}





.arrow{
    /* color-primary */
    border: 2px solid #F1CDB3;
    border-radius: 100px;
    width: 52px;
    height: 52px;
    top: 192px;


}

.arrow-block{
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    align-items: center;
    }


.arrow-image{
    width: 14px;
    height: 6px;
    top:13px;
}


.arrow{
    cursor: pointer;
}



.arrow:hover{
    background-color: #F1CDB3;
    transition: background-color 0.6s ease-in-out;

} 





.animal-block-footer-link{

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    gap: 10px;
    
    position: absolute;
    width: 261px;
    height: 52px;
    left: 470px;
    top: 645px;
    
    /* color-primary */
    background: #F1CDB3;
    border-radius: 100px;

    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 130%;
    /* identical to box height, or 22px */
    letter-spacing: 0.06em;

    /* color-dark-3xl */
    color: #292929;
    white-space: nowrap;

}


.animal-block-footer-link {
    cursor: pointer;
}

.animal-block-footer-link:hover{
    background: #fddcc4;
    transition: background-color 0.4s ease-in-out;
}

/* Help */


.help{
    background-color: #F6F6F6; 
    width: 1280px;
    height: 611px;
}


.help-block{

    position: absolute;
    width: 1200px;
    height: 431px;
    left: calc(50% - 1200px/2);
    top: 80px;

}

.icon-help-block{
    position: absolute;
    width: 1026px;
    height: 281px;
    left: 87px;
    top: 150px;

    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
     gap: 55px 120px; 

}

.help-block-header{
/* Heading */

position: absolute;
width: 308px;
height: 90px;
left: 446px;
top: 0px;

}


.help-block-header h3{
    position: absolute;
    /* h3 */
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 45px;
 
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    /* color-dark-l */
    color: #545454;
    white-space: nowrap;
    }
    


.icon-help{
    height: 113px;
    text-align: center;
}

.food{
    width: 82px;
}
.transport{
    width: 150px;
}
.toys{
    width: 60px;
}
.bowls{
    width: 153px;
}
.shampoon{
    width: 101px;
}
.vitamins{
    width:89px; 
    margin-left:85px;
}
.medicines{
    width:101px; 
}
.collars{
    width: 165px;
}
.sleep{
    width: 143px;
    margin-right:82px;
}


.help-image{
    height: 60px;
    top: 0px;



}

.help-image-name{
    position: absolute;
    top: 90px;
    left: 50%;
    transform: translateX(-50%);
    



    
/* h4 */
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 115%;
/* identical to box height, or 23px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;

/* color-dark-l */
color: #545454;

white-space: nowrap;
}




/* Donation block  */



.in-addition{
    background-color: #F6F6F6; 
    width: 1280px;
    height: 462px;
}


.in-addition-inner-block{
    position: absolute;
    width: 915px;
    height: 282px;
    left: calc(50% - 915px/2 + 0.5px);
    top: 80px;

}

.puppy-in-addition{
    position: absolute;
    width: 505px;
    height: 261px;
    left: 0px;
    top: 11px;
}

.donation-info{
    position: absolute;
    width: 380px;
    height: 282px;
    left: 535px;
    top: 0px;


}

.donation-info-heading{
    position: absolute;
width: 300px;
height: 90px;
left: 0px;
top: 0px;

}
.donation-info-heading h3{
/* h3 */
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 35px;
line-height: 45px;
/* or 45px */
display: flex;
align-items: center;
letter-spacing: 0.06em;

/* color-dark-l */
color: #545454;
/*!!!!!*/
text-align: start;
white-space: nowrap; 
}
.subheading-donation{
    /* Subheading */

position: absolute;
width: 307px;
height: 17px;
left: 0px;
top: 110px;

/* h5 */
font-family: 'Georgia';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 110%;
/* identical to box height, or 17px */
display: flex;
align-items: center;
letter-spacing: 0.06em;

/* color-dark-l */
color: #545454;
white-space: nowrap; 


}

.credit-cart-block{

    position: absolute;
    width: 349px;
    height: 43px;
    left: 0px;
    top: 147px;

    /* color-primary */
    background: #F1CDB3;
    border-radius: 9px;

}



.credit-card-content{
    width: 319px;
    height: 23px;

}


.credit-card-content-image{
        /* credit-card */

    position: absolute;
    width: 30px;
    height: 23px;
    left: 15px;
    top: 10px;

 

}



.credit-card-content-number{
    position: absolute;
    width: 274px;
    height: 23px;
    left: 60px;
    top: 10px;
    


}
.credit-card-content-number h4{
    /* h4 */
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 115%;
    /* identical to box height, or 23px */
    display: flex;
    align-items: center;
    letter-spacing: 0.06em;
    
    /* color-dark-l */
    color: #545454;
    white-space: nowrap;
    
}

.legal-info-payment-block{
    position: absolute;
    width: 380px;
    height: 72px;
    left: 0px;
    top: 210px;
    
}

.legal-info-payment{
    /* donation-description */
font-family: 'Arial';
font-style: italic;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */
display: flex;
align-items: center;

/* color-dark-m */
color: #B2B2B2;

}