* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }

  

html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    min-width: 1280px;
    display: table-cell;
    vertical-align: middle;
}

.footer{
    background: url(noise_lines_transparent@2X.png), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
    width: 1280px;
    height: 350px;
}