* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
  }


html, body {
    height: 100%;
}
html {
    display: table;
    margin: auto;
}
body {
    min-width: 1280px;
    display: table-cell;
    vertical-align: middle;
}

.footer{
    background-color: #29c95e; 
    width: 1280px;
    height: 350px;
}